th[id] {
    cursor: pointer;
}
td[id] {
    cursor: pointer;
}
td.counter {
    cursor: pointer;
    text-align: right;
}

table, td, th {
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: 15px;
}

a.button {
    display: inline-block;
    padding: 0.5em 1.3em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #3369ff;
    box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
    text-align: center;
    position: relative;
}
a.button:active{
    box-shadow:inset 0 0.6em 2em -0.3em rgba(0,0,0,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
}
@media all and (max-width:30em){
    a.button{
        display:block;
        margin:0.4em auto;
    }
}
